{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>本を追加</title>
</head>
<body>

    <div class="banner">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'LMS.svg' %}" alt="Libraria ロゴ">
            </a>
        </div>
        <h1>
            <a href="/">Libraria</a>
        </h1>
        <div class="dropdown">
            <button class="dropbtn">≡</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/">ホーム</a>
                <a href="/addapi">ISBN で追加</a>
                <a href="/addp">本を追加</a>
            </div>
        </div>
    </div>

    
    <h2>やったー！新しい本を追加しましょう！</h2>
    <div class="book-details">
        <img id="book-cover" class="thumbnail" src="{% static 'image1.jpg' %}" alt="Book Cover">
        <p id="book-title">検索してください！</p>
        <form class="add-book-form">
            {% csrf_token %}
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" required>            
            <button type="button" onclick="scrapeBook()">本を追加</button>
        </form>
        <button id="save-to-library" style="display: none;" onclick="saveToLibrary()">ライブラリに保存</button>
    </div>
    
    <script>
    function scrapeBook() {
        // 入力フィールドからISBNを取得
        var isbn = document.getElementById('isbn').value;
    
        // Open Library Search APIにリクエストを送信
        fetch(`https://openlibrary.org/search.json?q=${isbn}`)
            .then(response => response.json())
            .then(data => {
                // 本が見つかったか確認
                if (data.num_found > 0) {
                    // 本のタイトルを更新
                    var title = data.docs[0].title;
                    document.getElementById('book-title').innerText = title;
    
                    // 本のカバー画像を更新
                    var coverUrl = `https://covers.openlibrary.org/b/id/${data.docs[0].cover_i}-L.jpg`;
                    document.getElementById('book-cover').src = coverUrl;
                    document.getElementById('save-to-library').style.display = 'inline';
                } else {
                    // 本が見つからない場合の処理
                    alert('本が見つかりませんでした！');
                }
            })
            .catch(error => {
                console.error('データの取得エラー:', error);
            });
    }

    function saveToLibrary() {
        // フォームページを取得
        const isbn = document.getElementById('isbn').value;
        const title = document.getElementById('book-title').innerText;
        const quantity = '1';
        const cover = document.getElementById('book-cover').src;
        const location = "未定"

        // フォームデータを含むJSONオブジェクトを作成
        const bookData = {
            isbn: isbn,
            location: location,
            title: title,
            cover: cover,
            quantity: quantity
                   
        };

        // サーバに本を追加するためのPOSTリクエストを作成
        fetch('/add/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(bookData)
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('本の追加に失敗しました');
            }
        })
        .then(data => {
            console.log(data.message);  // コンソールでメッセージを確認
            alert(data.message);
            window.location.href = "/book/" + isbn;
        })
        .catch(error => console.error(error));
    }   
    </script>
    
</body>
</html>
