{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'script.js' %}"></script> 
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <title>本の詳細</title>
</head>
<body>

    <div class="banner">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'LMS.svg' %}" alt="Libraria ロゴ">
            </a>
        </div>
        <h1>
            <a href="/">Libraria</a>
        </h1>
        <div class="dropdown">
            <button class="dropbtn">≡</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/">ホーム</a>
                <a href="/addapi">ISBN で追加</a>
                <a href="/addp">本を追加</a>
            </div>
        </div>
    </div>
    
    <div class="book-details">
        <img id="book-cover" class="thumbnail" src="{{ book.cover }}" alt="本の表紙">
        <h2 id="book-title">タイトル: {{ book.title }}</h2>
        <p id="book-isbn">ISBN: {{ book.isbn }}</p>
        <p id="book-quantity">数量: {{ book.quantity }}</p>
        <p id="book-location">場所: {{ book.location }}</p>
        <button type="button" onclick="handleEditButtonClick('{{ book.isbn }}')">編集/更新</button>
        <button type="button" onclick="handleDeleteButtonClick('{{ book.isbn }}')">本を削除</button>
    </div>
    
    </div>

    <footer>
        <p>Peter 制作</p>
    </footer>

    <script>
        function scrapeBook() {
            // Get the ISBN from the input field
            var isbn = document.getElementById('isbn').value;
        
            // Make a request to the Open Library API
            fetch(`https://openlibrary.org/api/books?bibkeys=ISBN:${isbn}&format=json`)
                .then(response => response.json())
                .then(data => {
                    // Check if the book is found
                    if (`ISBN:${isbn}` in data) {
                        // Update the book title
                        var title = data[`ISBN:${isbn}`].title;
                        document.getElementById('book-title').innerText = title;
        
                        // Update the book cover image
                        var coverUrl = data[`ISBN:${isbn}`].cover.large;
                        document.getElementById('book-cover').src = coverUrl;
                    } else {
                        // Handle case where book is not found
                        alert('本が見つかりませんでした！');
                    }
                })
                .catch(error => {
                    console.error('データの取得中にエラーが発生しました:', error);
                });
        }
    </script>
</body>
</html>