{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>Book Details</title>
</head>
<body>

    <div class="banner">
        <div class="logo-container">
            <img src="{% static 'LMS.svg' %}" alt="Libraria Logo">
        </div>
        <h1>Libraria</h1>
        <div class="dropdown">
            <button class="dropbtn">≡</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/">Home</a>
                <a href="/addapi">Add By ISBN</a>
                <a href="/addp">Add Book</a>
            </div>
        </div>
    </div>
    
    <div class="book-details">
        <img id="book-cover" class="thumbnail" src="{{ book.cover }}" alt="Book Cover">
        <form id="edit-form">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ book.title }}" placeholder="{{ book.title }}">
            <p id="book-isbn">ISBN: {{ book.isbn }}</p>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="{{ book.quantity }}" placeholder="{{ book.quantity }}">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="{{ book.location }}" placeholder="{{ book.location }}">
            <button type="button" onclick="saveChanges()">Save Changes</button>
        </form>
    </div>

    <footer>
        <p>Made by Peter</p>
    </footer>

</body>
</html>
