{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <title>本の詳細</title>
</head>
<body>

    <div class="banner">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'LMS.svg' %}" alt="Libraria ロゴ">
            </a>
        </div>
        <h1>
            <a href="/">Libraria</a>
        </h1>
        <div class="dropdown">
            <button class="dropbtn">≡</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/">ホーム</a>
                <a href="/addapi">ISBN で追加</a>
                <a href="/addp">本を追加</a>
            </div>
        </div>
    </div>
    
    <div class="book-details">
        <img id="book-cover" class="thumbnail" src="{{ book.cover }}" alt="本の表紙">
        <form id="edit-form">
            {% csrf_token %}
            <label for="title">タイトル:</label>
            <input type="text" id="title" name="title" value="{{ book.title }}" placeholder="{{ book.title }}">
            <p id="book-isbn">ISBN: {{ book.isbn }}</p>
            <label for="quantity">数量:</label>
            <input type="number" id="quantity" name="quantity" value="{{ book.quantity }}" placeholder="{{ book.quantity }}">
            <label for="location">場所:</label>
            <input type="text" id="location" name="location" value="{{ book.location }}" placeholder="{{ book.location }}">
            <button type="button" onclick="saveChanges()">変更を保存</button>
        </form>
    </div>

    <footer>
        <p>Peter 制作</p>
    </footer>

</body>
</html>
