{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <script>
        // インデックスページで関数を直接呼び出す
        fetchAndDisplayBooks();
    </script>

    <title>LMS</title>
</head>
<body>

    <div class="banner">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'LMS.svg' %}" alt="Libraria ロゴ">
            </a>
        </div>
        <h1>
            <a href="/">Libraria</a>
        </h1>
        <div class="dropdown">
            <button class="dropbtn">≡</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/">ホーム</a>
                <a href="/addapi">ISBN で追加</a>
                <a href="/addp">本を追加</a>
            </div>
        </div>
    </div>
    
    <table class="image-table">
        <tr>
            <td class="image" id="image1">
                <p>タイトル 1</p>
                <img src="{% static 'image1.jpg' %}" alt="画像 1">               
            </td>
            <!-- 必要に応じてセルを追加してください -->
        </tr>
    </table>

    <footer>
        <p>Peter 制作</p>
    </footer>
    
</body>
</html>
